.intro {
    background-color: #3977FA;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
}

.intro p {
    line-height: 2;
}

.intro h1 {
    font-size: 3rem;
    font-weight: bold;
}

.intro-text {
    margin: 3rem;
}

.intro img {
    display: inline;
    margin-left: 30rem;
    margin-top: -25rem;
    width: 40rem;
    height: 40rem;
}

.intro button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 12rem;
    height: 3rem;
    border-color: transparent;
}

.service {
    background-color:#F6FBFF;
    color: blue;
    text-align: center;
    padding-top: 2rem;
}

.service h1 {
    margin-bottom: 3rem;
}

.card-service {
    display: flex;
    margin-left: 2rem;
}

.service-detail {
    background-color: white;
    color: #3A4166;
    text-align: center;
    width: 12rem;
    height: 20rem;
    font-size: 1rem;
    margin-left: 3rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(17,26,104,.2);
}

.service-detail-2 {
    background-color: #F6FBFF;
    color: #3A4166;
    text-align: center;
    font-size: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.service-detail-web {
    background-color: white;
    color: #3A4166;
    width: 35rem;
    height: 5rem;
    text-align: center;
    margin-left: 21rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    box-shadow: 0 0.5rem 1rem rgba(17,26,104,.2);
}

.service-detail-web h4 {
    margin-left: 2rem;
    margin-top: -1rem;
}

.service-detail-web p {
    text-align: left;
    margin-left: -9.5rem;
}

.feature-priority {
    background-color: white;
    color: blue;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.feature-priority h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-left: -10rem;
    color: #3A4166;
}

.feature-priority p {
    text-align: justify;
    color: gray;
}

.feature-priority-card {
    margin-left: 8rem;
    color: #3A4166;
}

.feature-priority button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 15rem;
    height: 3rem;
    border-color: transparent;
    margin-top: 3rem;
}

.feature-priority-server {
    position: absolute;
    top: 106rem;
    left: 43rem;
}

.feature-priority-immunify {
    position: absolute;
    top: 109rem;
    left: 39rem;
}

.feature-priority-chart {
    position: absolute;
    top: 117rem;
    left: 39rem;
    height: 12rem;
}

.feature-priority-speed {
    position: absolute;
    top: 109rem;
    left: 70rem;
}
.feature-pricing {
    background-color: #F6FBFF;
    color: black;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.feature-pricing h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    color: #3A4166;
}

.feature-pricing p {
    text-align: justify;
    color: gray;
}

.feature-pricing-card {
    margin-left: 44rem;
    margin-top: 5rem;
    color: #3A4166;
}

.feature-pricing-big {
    position: absolute;
    top: 140rem;
    left: 6rem;
}

.feature-pricing-intercom {
    position: absolute;
    top: 138rem;
    left: 10rem;
}

.feature-pricing-woman1 {
    position: absolute;
    top: 146rem;
    left: 2rem;
}

.feature-pricing-woman2 {
    position: absolute;
    top: 146rem;
    left: 32rem;
}

.feature-pricing-man {
    position: absolute;
    top: 153rem;
    left: 12rem;
}

.feature-pricing-online {
    position: absolute;
    top: 155rem;
    left: 29rem;
}

.testimonies-customer {
    padding-top: 2rem;
    background-color: white;
    color: black;
    padding-bottom: 2rem;
}

.testimonies-customer h1 {
    font-size: 2rem;
    color: #3A4166;
    margin-left: 6rem;
}

.testimonies-customer h4 {
    color: #3A4166;
}

.testimonies-customer span {
    color: gray;
}

.testimonies-customer p {
    color: grey;
}

.testimonies-card {
    display: flex;
    justify-content: space-evenly;
}

.testimonies-card-detail {
    width: 20rem;
    height: 25rem;
    text-align: left;
}

.testimonies-card-detail img {
    width: 20rem;
    height: 15rem;
}

.packages {
    padding-top: 7rem;
    color: blue;
}

.packages-detail {
    background-color: #F6FBFF;
    padding-top: 2rem;
    padding-bottom: 7rem;
}

.packages-detail li {
    color: #5F6483;
}

.packages-detail-header {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
}

.packages-detail h1 {
    text-align: center;
    font-size: 2rem;
    color: #3A4166;
}

.packages-detail h2 {
    color: blue;
}

.packages-detail-card {
    justify-content: space-evenly;
    margin-left: -1rem;
    margin-top: 5rem;
    display: flex;
}

.packages-detail-card ul {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.6rem;
    color: black;
}

.packages-detail-card p {
    font-size: 0.8rem;
    color: gray;
}

.packages-detail-card h3 {
    font-weight: lighter;
    font-size: 1rem;
}

.packages-detail-card button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    border-color: transparent;
    margin-top: 3rem;
}

.packages-detail-card-bayi {
    text-align: center;
    background-color: white;
    box-shadow: 0 1rem 1rem rgba(17,26,104,.15);
}

.packages-detail-card-bayi h2 {
    margin-top: 6rem;
    font-size: 2rem;
}

.bln-bayi {
    position: absolute;
    top: 230.2rem;
    left: 15.3rem;
    color: gray;
}

.termurah-bayi {
    background-color: #39C0A6;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 16rem;
    height: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 1rem;
}

.packages-detail-card-pelajar {
    text-align: center;
    background-color: white;
    box-shadow: 0 1rem 1rem rgba(17,26,104,.15);
}

.packages-detail-card-pelajar h1 {
    padding-bottom: 3rem;
    color: #3A4166;
}

.packages-detail-card-pelajar h2 {
    margin-top: 3rem;
    font-size: 2rem;
}

.diskon-pelajar {
    background-color: #39C0A6;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 16rem;
    height: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 1rem;
}

.pelajar-striketru {
    color: gray;
    text-decoration: line-through;
    margin-bottom: -3rem;
}

.bln-pelajar {
    position: absolute;
    top: 229.7rem;
    left: 35rem;
    color: gray;
}

.packages-detail-card-personal {
    text-align: center;
    background-color: white;
    box-shadow: 0 1rem 1rem rgba(17,26,104,.15);
}

.packages-detail-card-personal h1 {
    padding-bottom: 3rem;
    color: #3A4166;
}

.packages-detail-card-personal h2 {
    margin-top: 3rem;
    font-size: 2rem;
}

.best-seller {
    position: absolute;
    top: 212.5rem;
    left: 42.5rem;
    color: white;
    font-weight: bold;
    background: #007aff;
    border-radius: 0.5rem;
    padding: 1rem 5rem;
}

.arrow-down {
    position: absolute;
    top: 215.6rem;
    left: 49rem;
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid #007aff;
}

.diskon-personal {
    background-color: #FB8E39;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 16rem;
    height: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 1rem;
}

.personal-striketru {
    color: gray;
    text-decoration: line-through;
    margin-bottom: -3rem;
}

.bln-personal {
    position: absolute;
    top: 229.7rem;
    left: 54.8rem;
    color: gray;
}

.packages-detail-card-bisnis {
    text-align: center;
    background-color: white;
    box-shadow: 0 1rem 1rem rgba(17,26,104,.15);
}

.diskon-bisnis {
    background-color: #39C0A6;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 16rem;
    height: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-top: 1rem;
}

.bisnis-striketru {
    color: gray;
    text-decoration: line-through;
    margin-bottom: -3rem;
}

.bln-bisnis {
    position: absolute;
    top: 229.7rem;
    left: 74.4rem;
    color: gray;
}

.packages-detail-card-bisnis h1 {
    padding-bottom: 3rem;
    color: #3A4166;
}

.packages-detail-card-bisnis h2 {
    margin-top: 3rem;
    font-size: 2rem;
}

.faqs {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.faqs-head {
    background-color: white;
    color: #3A4166;
}

.faqs h1{
    color: #3A4166;
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.clients {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
}

.clients img {
    width: 10rem;
    height: 4rem;
    filter: grayscale(90%);
    opacity: 0.5;
    margin-bottom: 7rem;
}

.faqs-detail {
    background-color: #FFFFFF;
    padding-top: 2rem;
}

.faqs-detail li {
    color: #3A4166;
    font-size: 1.5rem;
    line-height: 3;
}

.faqs-list {
    margin-left: 15rem;
}

.guarantee {
    background-color: #F6FBFF;
    padding-top: 2rem;
}

.guarantee h1 {
    text-align: left;
    color: #3A4166;
    font-size: 2rem;
}

.guarantee p {
    text-align: left;
    color: gray;
    line-height: 2;
}

.guarantee-detail {
    margin-left: 3rem;
}

.guarantee-detail-card {
    margin-left: 10rem;
    margin-top: 5rem;
}

.guarantee-detail-card {
    display: flex;
}

.guarantee-detail-card-text {
    margin-left: 7rem;
}

.guarantee-detail button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 14rem;
    height: 3rem;
    border-color: transparent;
    margin-top: 3rem;
}

.payments {
    background: white;
    padding-top: 1rem;
    padding-bottom: 6rem;
}

.payments-detail-icon-1 {
    display: flex;
    justify-content: space-evenly;
}

.payments-detail-icon-2 {
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.payments img {
    height: 3rem;
    width: 5rem;
    opacity: 0.5;
    filter: grayscale(100%);
}

.payments-detail {
    margin-top: 4rem;
}

.payments-detail h3 {
    color: #606483;
    text-align: center;
}

.order-hosting {
    background-color: blue;
    color: white;
    display: flex;
    padding-bottom: 2rem;
}

.order-hosting-domain {
    background-color: blue;
    color: white;
    display: flex
}

.order-hosting h1 {
    margin-top: 5rem;
    margin-left: 12rem;
    font-size: 2rem;
}

.order-hosting-domain h1 {
    margin-top: 5rem;
    margin-left: 12rem;
    font-size: 2rem;
}

.order-hosting button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 14rem;
    height: 3rem;
    border-color: transparent;
    margin-top: 5rem;
    margin-left: 15rem;
}

.order-hosting-domain button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 14rem;
    height: 3rem;
    border-color: transparent;
    margin-top: 5rem;
    margin-left: 15rem;
}