.footer {
    display: flex;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 3rem;
    line-height: 1.6;
}

.footer li {
    list-style-type: none;
}

.footer-2 {
    display: flex;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 6rem;
}

.footer-3 {
    display: flex;
    background-color: black;
    color: white;
    font-size: 0.8rem;
}

.tutorial {
    margin-top: 1.5rem;
}

.tutorial li {
    list-style-type: none;
}

.copyright {
    width: 45rem;
    margin-left: 5rem;
    margin-right: 17rem;
    margin-top: 5rem;
    text-align: left;
}

.syarat {
    margin-top: 5rem;
    margin-left: -3rem;
}

.social {
    padding-left: 7rem;
    padding-top: 3rem;
}

.social img {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
}

button {
    background-color: orange;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 8rem;
    height: 2rem;
    border-color: transparent;
    margin-top: 1rem;
    margin-left: 3rem;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    padding: 1rem 0;
    color: white;
}