.header {
    display: flex;
    background-color: blue;
    justify-content: space-evenly;
}

.header h1 {
    font-size: 1rem;
    color: white;
    font-weight: lighter;
}

a:link {
    text-decoration: none;
}

.header p {
    color: white;
}

.header button {
    background-color: transparent;
    border-radius: 15px;
    margin-top: 0.5rem;
    border: 1px solid white;
    color: white;
    height: 2rem;
    width: 4rem;
}

.header-top {
    font-size: 1rem;
    color: white;
    font-weight: lighter;
    display: flex;
    margin-left: 65rem;
}

.header-top p {
    margin-left: 1rem;
}